**/.git
**/.env
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.db
**/.pytest_cache
**/.vscode
**/.idea
**/captures
**/node_modules
**/venv
**/myenv
README.md
ARCHITECTURE.md
docker-compose.yaml
prometheus.yml
Makefile
